<h1>Editing <%= @user.username %>'s account</h1>
<ul>
  <% if flash[:notice] %>
  <div class="alert alert-warning" role="alert">
    <% flash[:notice].each do |e| %>
        <li><%= e %></li>
    <% end %>
  <% end %>
</div>
</ul>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %><br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %><br>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %><br>
  <%= f.label :age %>
  <%= f.number_field :age, class: "form-control" %><br>
  <%= f.label "Profile Picture Link" %>
  <%= f.text_field :profile_img, class: "form-control" %><br>
  <%= f.submit "Update Account" %>
<% end %>
