<ul>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</ul>

<img src="https://i.ibb.co/sQ9ZmVS/Spash04.jpg" alt="Image" width = "100%"">

<h3 align= "center">Upcoming Events</h3>
<div class="card-columns" style="column-gap: 30px;">
  <% @events.each do |event| %>
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body shadow-lg rounded" style="background-color: #<%= "#{hex_color_sample}" %>;" align= "center">
      <%= link_to image_tag(event.game.logo, width: "100%", class: "img-responsive center-block"), event %> <br>
      <%= "#{event.date}" %><br>
      <%= "#{event.location}" %><br>
      <%= "#{pluralize((event.max_player - event.confirms.count), "slot")} left" %>
    </div>
  </div>
  <% end %>
</div>
