<h1 align= "center">Make a new LinkShell Account</h1>
<ul>
  <% if flash[:notice] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:notice]  %>
  <% end %>
</div>
</ul>
<%= form_for @user do |f| %>
  <div class="col-4 mx-auto">
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control"%><br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control", placeholder: "Emails are case sensitive and used for logging in"%><br>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %><br>
  <%= f.label :age %>
  <%= f.number_field :age, class: "form-control" %><br>
  <%= f.label "Profile Picture Link" %>
  <%= f.text_field :profile_img, class: "form-control" %><br>
  </div>
  <%= f.submit "Make a new Account", class: "btn btn-primary btn-block col-2 mx-auto", form: "new_user" %>
<% end %>
