<h1>Make a new LinkShell Account</h1>
<ul>
  <% if @errors %>
    <% @errors.each do |e| %>
        <li><%= e %></li>
    <% end %>
  <% end %>
</ul>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :age %>
  <%= f.number_field :age %><br>
  <%= f.label "Profile Picture Link" %>
  <%= f.text_field :profile_img %><br>
  <%= f.submit "Make a new Account" %>
<% end %>
