<h1><%= @user.username %></h1>
<img src="<%= @user.profile_img %>" alt="<%= @user.username %>" width = "200px">


<div class="game-list">
  <h3>Game List</h3>
  <ul>
    <% @game_list.each do |game| %>
      <li><%= link_to game.name, game %></li>
    <% end %>
  </ul>
</div>

<div class="event-list">
  <h3>Hosting:</h3>
  <ul>
    <% @hostings.each do |host|%>
      <li><%= link_to "#{host.game.name}", host %> <br><%=  "#{host.date}" %></li>
    <% end %>
  </ul>
</div>

<h3>Attending:</h3>
<ul>
  <% @events.each do |confirms|%>
    <li><%= link_to "#{confirms.event.game.name}", confirms.event %> <br> <%= "#{confirms.event.date}" %></li>
  <% end %>
</ul>
