<h3><%= flash[:notice] %></h3>

<div class="col-4 float-left" align="center">
  <h1><%="#{@user.username}"%></h1>
  <img src="<%= @user.profile_img %>" alt="<%= @user.username %>" width = "300px" class= "img-thumbnail"><br><br>
  <% if session[:user_id] == @user.id %>
    <%= button_to "Update information", edit_user_path(@user), method: "get", class: "btn btn-primary border"%>
  <% end %>
</div>

<div class="accordion col-8 float-right" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne"
      <h2 class="m-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Game List</h4>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="user-dropdown">
          <% @game_list.each do |game| %>
            <li><%= link_to game.name, game %></li>
          <% end %>
        </ul>
        <% if @game_list.count == 0 %>
          <p>You do not have any games added to your account.</p>
        <%end%>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="m-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4>Hosting</h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="user-dropdown">
          <% @hostings.each do |host|%>
            <li><%= link_to "#{host.game.name}", host %> <br><%=  "#{host.date}" %></li>
          <% end %>
        </ul>
          <% if @hostings.count == 0 %>
            <p>You are not hosing any events.</p>
          <%end%>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="m-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4>Attending</h4>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="user-dropdown ">
          <% @events.map do |confirms|%>
            <li><%= link_to "#{confirms.event.game.name}", confirms.event %> <br> <%= "#{confirms.event.date}" %></li>
          <% end %>
        </ul>
        <% if @events.count == 0 %>
          <p>You are not currently attending any LinkShell events.</p>
        <%end%>
      </div>
    </div>
  </div>
</div>
