<h1 align= "center">Host a new event!</h1>
<ul>
  <% if @errors %>
  <div class="alert alert-warning" role="alert">
    <% @errors.each do |e| %>
        <li><%= e %></li>
    <% end %>
  <% end %>
</div>
</ul>

<%= form_for @event do |f| %>
  <div class="col-4 mx-auto">
    <%= f.label "Game:" %>
    <%= f.text_field :user_id, hidden: true, value: session[:user_id]%>
    <%= f.collection_select :game_id, @games, :id, :game_name_platform %><br><br>
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %><br>
    <%= f.label :max_player %>
    <%= f.number_field :max_player , min: 2, max: 64, class: "form-control"%><br>
    <%= f.label "Date"%>
    <%= f.date_field :date, class: "form-control",  min: Date.today%><br>
  </div>
    <%= f.submit "Host the Event!", class: "btn btn-primary btn-block col-2 mx-auto" %>
<% end %>
