<div class="" align="center">
  <%= link_to image_tag(@event.game.logo, width: "55%", class: "img-responsive center-block"), @event.game %>
</div>
<div class="">

</div>
  <p>Hosted by: <%= link_to @event.user.username, user_path(@event.user) %></p>
  <p>Location: <%= @event.location %></p>
  <p>Event Date: <%= @event.date %></p>
  <p>Max Players for this event: <%= @event.max_player %></p>
  <p>Current Number of Players attending this event: <%= @event.users.count %></p>
</div>


<% if session[:user_id].nil?%>
  <% if @event.full? %>
    This Event is full, Find other events for <%= link_to "#{@event.game.name}", @event.game%>
  <% else %>
    Login to Join this Event
  <% end  %>
<% elsif @event.users.include?(User.find(session[:user_id]))%>
  <% session[:event_id] = @event.id  %>
  <%= button_to "Leave Event", leave_event_path, class: "btn btn-danger col-2"%>
<% elsif @event.full? %>
  This Event is full, Find other events for <%= link_to "#{@event.game.name}", @event.game%>
<% else %>
  <% session[:event_id] = @event.id %>
  <%= button_to "Join Event", join_event_path, class: "btn btn-primary col-2"%>
<% end %>

<h2 align= "center">Attendees</h2>
<div class="row">
    <% @confirms.each do |confirm| %>
  <div class="col-sm-3">
    <div class="card" style="margin-bottom: 30px;">
      <div class="card-body rounded" align= "center">
        <%= link_to image_tag(confirm.profile_img, width: "95%", class: "rounded"), confirm %>
        <%=confirm.username %>
      </div>
    </div>
  </div>
  <% end %>
  </div>


<% unless session[:user_id].nil?%>
  <% if @event.user == User.find(session[:user_id]) %>
    <% session[:event_id] = @event.id %>
    <%= button_to "Delete Event", delete_event_path, class: "btn btn-danger btn-block col-4 mx-auto"%>
  <% end %>
<% end %>
