<%= link_to image_tag(@event.game.logo, width: "50%"), @event.game %>
<p>Hosted by: <%= link_to @event.user.username, user_path(@event.user) %></p>
<p>Location: <%= @event.location %></p>
<p>Event Date: <%= @event.date %></p>
<p>Max Players for this event: <%= @event.max_player %></p>
<p>Current Number of Players attending this event: <%= @event.users.count %></p>


<% if session[:user_id].nil?%>
  Login to Join this Event
<% elsif @event.users.include?(User.find(session[:user_id]))%>
  <% session[:event_id] = @event.id  %>
  <%= button_to "Leave Event", leave_event_path  %>
<% elsif @event.full? %>
  This Event is full, Find other events for <%= link_to "#{@event.game.name}", @event.game%>
<% else %>
  <% session[:event_id] = @event.id %>
  <%= button_to "Join", join_event_path %>
<% end %>

<h2>Attendees</h2>
<ol>
  <% @confirms.each do |confirm| %>
    <li><%= link_to confirm.username, confirm %></li>
  <% end %>
</ol>
<% unless session[:user_id].nil?%>
<% if @event.user == User.find(session[:user_id]) %>
  <% session[:event_id] = @event.id %>
  <%= button_to "Delete Event!?", delete_event_path%>
<% end %>
<% end %>
