<div class="" align="center" >
  <img src="<%= @game.logo %>" alt="<%= @game.name %>" width = "60%" >
  <p width = "60%"><%= @game.description %></p>
  <p>Number of Players: <%= @game.max_players %></p>
  <p>Platform: <%= @game.platform %></p>
</div>
