<div class="" align="center" >
  <img src="<%= @game.logo %>" alt="<%= @game.name %>" width = "60%" >
  <p><%= @game.description %></p>
  <p>Players Per Session: <%= @game.max_players %></p>
  <p>Platform: <%= @game.platform %></p>
  <p>Active Players: <%= @game.users.count %></p>
</div>
<p>Events for this Game:</p>
