<!DOCTYPE html>
<html>
  <head>
    <title>LinkShells</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title" align = "right">
        <h1><%= link_to "LinkShells", users_path, method: "get" %></h1>
      </div>
      <div class="static-layout-button" align = "right">
        <%= button_to "Games", games_path, method: "get"%>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
